<section id="about" class="ba-about-us">
   
    <div class="ba-about-us__info">
        <div class="row small-collapse">
            <div class="column small-12 medium-5 large-4">
                <div class="ba-about-us__img">
                    <img src="assets/img/iconabout.png" alt="about">
                    <h2 class="ba-about-us__title">
                        about us
                    </h2>
                </div>

            </div>
            <div class="column small-12 medium-6 large-7 medium-offset-1">
                <div class="ba-about-us__desc">
                    <p>
                        Nullam quis risus eget urna
                        <span>mollis ornare</span> vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper
                        nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
                        auctor.

                    </p>
                    <p>
                        <span>Morbi leo risus</span> , porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel
                        augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
                        venenatis vestibulum. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum.
                        Sed posuere consectetur est at lobortis.
                    </p>
                    <a href="#" class="ba-button ba-button--learn-more">
                        Learn More
                    </a>
                </div>


            </div>
        </div>
    </div>
    <div class="row small-collapse">
        <div class="column small-12 medium-12 large-8 ">
            <div id="services" class="ba-about-us-advices-wrap">
                <div class="ba-about-us-advices ba-about-us-advices--grey">
                    <img src="assets/img/graphic.png" alt="graphic">
                    <h3 class="ba-about-us-advices__title">
                        GRAPHIC DESIGN
                    </h3>
                    <div class="ba-about-us-advices__desc">
                            <p>
                                    Cras mattis consectetur purus sit amet fermentum.
                                </p>
                    </div>
                    
                </div>
                <div class="ba-about-us-advices">
                    <img src="assets/img/web.png" alt="graphic">
                    <h3 class="ba-about-us-advices__title">
                        WEB DEVELOPMENT
                    </h3>
                    <div class="ba-about-us-advices__desc">
                            <p>
                                    Cras mattis consectetur purus sit amet fermentum.
                                </p>
                    </div>
                </div>
                <div class="ba-about-us-advices">
                    <img src="assets/img/seo.png" alt="graphic">
                    <h3 class="ba-about-us-advices__title">
                        SEO & MARKETING
                    </h3>
                    <div class="ba-about-us-advices__desc">
                            <p>
                                    Cras mattis consectetur purus sit amet fermentum.
                                </p>
                    </div>
                </div>
                <div class="ba-about-us-advices ba-about-us-advices--grey">
                    <img src="assets/img/mobile.png" alt="graphic">
                    <h3 class="ba-about-us-advices__title">
                        MOBILE DEVELOPMENT
                    </h3>
                    <div class="ba-about-us-advices__desc">
                            <p>
                                    Cras mattis consectetur purus sit amet fermentum.
                                </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column small-12 large-4">
            <div class="ba-about-us-services">
                <img src="assets/img/services.png" alt="graphic">
                <h3 class="ba-about-us-advices__title">
                    OUR SERVICES
                </h3>
                <p>
                    “Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.” <span> - Borat -</span>
                </p>
            </div>
        </div>
   
</div>
</section>