<footer class="ba-footer">
	<div class="row align-middle align-justify">
		<div class="column small-12 medium-6 large-3">
				©2014 tulusdriyo. All Rights Reserved.
		</div>
		<div class="column small-12 medium-5 large-3">
				<div class="ba-footer-socials">
						<a href="https://behance.net" class="ba-socials__item">
								<svg width="20" height="13" class="icon icon-behance">
									<use xlink:href="#icon-behance"></use>
								</svg>
							</a>
					<a href="https://linkedin.com" class="ba-socials__item">
						<svg width="20" height="18" class="icon icon-linkedin2">
							<use xlink:href="#icon-linkedin2"></use>
						</svg>
					</a>

					<a href="https://google.com" class="ba-socials__item">
						<svg width="25" height="25" class="icon icon-google">
							<use xlink:href="#icon-google"></use>
						</svg>
					</a>

					<a href="https://facebook.com" class="ba-socials__item">
						<svg width="10" height="20" class="icon icon-facebook">
							<use xlink:href="#icon-facebook"></use>
						</svg>
					</a>

					<a href="https://twitter.com" class="ba-socials__item">
						<svg width="18" height="18" class="icon icon-twitter">
							<use xlink:href="#icon-twitter"></use>
						</svg>
					</a>

				 

				</div>
		</div>
		
	</div>
</footer>
//=include svg-icons.html