<header id="home" class="ba-header">
	<div class="row column">
		<div class="top-bar">
			<div class="top-bar-left">
				<a class="ba-logo" href="index.html">
					<svg width="54" height="74">
						<use xlink:href="#logo"  />
					</svg>
						
				
				</a>
			</div>
			<!-- ./top-bar-left -->
			<div class="top-bar-right">
				<nav class="ba-nav show-for-medium">
					<ul class="ba-main-menu menu vertical medium-horizontal">
						<li class="active"><a href="#home">HOME</a></li>
						<li><a href="#about">ABOUT</a></li>
						<li><a href="#services">SERVICES</a></li>
						<li><a href="#works">WORKS</a></li>
						<li><a href="#contact">CONTACT</a></li>
					</ul>
				</nav>
				<button class="menu-icon dark hide-for-medium" data-toggle="offCanvas" aria-label="Menu"></button>				
			</div>
			<!-- /.top-bar-right -->
		</div>
		<!-- /.top-bar -->	
		<div class="ba-header__description">
		<h1 class="ba-main-title">CreativE DIGITAL Project</h1>
	
				<p>Duis mollis, est non commodo luctus,
						nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
		</div>

		
	</div>
	<!-- /.row -->	
</header>
