<section  class="ba-team">
      
    <div class="row column">
        <img src="assets/img/iconwork.png" alt="team">
        <h2 class="ba-team__title">Our team</h2>
        <div class="ba-team-slider-wrap">
                <a href="#" class="ba-prev-arrow">
                        <svg width="23" height="38">
                            <use xlink:href="#arrow-left" />
                        </svg>
                    </a>
                    <a href="#" class="ba-next-arrow">
                        <svg width="23" height="38">
                            <use xlink:href="#arrow-right" />
                        </svg>
                    </a>
            <div class="ba-team-slider">
                <div class="ba-team-slider__item column">
                    <div class="ba-top-part">
                        <img src="assets/img/slide1.png" alt="slide">
                    </div>
                    <div class="ba-mid-part">
                        <h4 class="author-name">
                            Miguel Obrien
                        </h4>
                        <p>
                            CEO & Founder
                        </p>
                    </div>
                    <div class="ba-socials">
                            <a href="https://behance.net" class="ba-socials__item">
                                    <svg width="20" height="13" class="icon icon-behance">
                                        <use xlink:href="#icon-behance"></use>
                                    </svg>
                                </a>
                        <a href="https://linkedin.com" class="ba-socials__item">
                            <svg width="20" height="18" class="icon icon-linkedin2">
                                <use xlink:href="#icon-linkedin2"></use>
                            </svg>
                        </a>

                        <a href="https://google.com" class="ba-socials__item">
                            <svg width="25" height="25" class="icon icon-google">
                                <use xlink:href="#icon-google"></use>
                            </svg>
                        </a>

                        <a href="https://facebook.com" class="ba-socials__item">
                            <svg width="10" height="20" class="icon icon-facebook">
                                <use xlink:href="#icon-facebook"></use>
                            </svg>
                        </a>

                        <a href="https://twitter.com" class="ba-socials__item">
                            <svg width="18" height="18" class="icon icon-twitter">
                                <use xlink:href="#icon-twitter"></use>
                            </svg>
                        </a>

                     

                    </div>
                </div>
                <div class="ba-team-slider__item column">
                        <div class="ba-top-part">
                                <img src="assets/img/slide2.png" alt="slide">
                            </div>
                            <div class="ba-mid-part">
                                <h4 class="author-name">
                                        Jackie Carroll
                                </h4>
                                <p>
                                        Art Director
                                </p>
                            </div>
                            <div class="ba-socials">
                                    <a href="https://behance.net" class="ba-socials__item">
                                            <svg width="20" height="13" class="icon icon-behance">
                                                <use xlink:href="#icon-behance"></use>
                                            </svg>
                                        </a>
                                <a href="https://linkedin.com" class="ba-socials__item">
                                    <svg width="20" height="18" class="icon icon-linkedin2">
                                        <use xlink:href="#icon-linkedin2"></use>
                                    </svg>
                                </a>
        
                                <a href="https://google.com" class="ba-socials__item">
                                    <svg width="25" height="25" class="icon icon-google">
                                        <use xlink:href="#icon-google"></use>
                                    </svg>
                                </a>
        
                                <a href="https://facebook.com" class="ba-socials__item">
                                    <svg width="10" height="20" class="icon icon-facebook">
                                        <use xlink:href="#icon-facebook"></use>
                                    </svg>
                                </a>
        
                                <a href="https://twitter.com" class="ba-socials__item">
                                    <svg width="18" height="18" class="icon icon-twitter">
                                        <use xlink:href="#icon-twitter"></use>
                                    </svg>
                                </a>
        
                             
        
                            </div>
                </div>
                <div class="ba-team-slider__item column">
                        <div class="ba-top-part">
                                <img src="assets/img/slide3.png" alt="slide">
                            </div>
                            <div class="ba-mid-part">
                                <h4 class="author-name">
                                        Ida Morrison
                                </h4>
                                <p>
                                        Designer
                                </p>
                            </div>
                            <div class="ba-socials">
                                    <a href="https://behance.net" class="ba-socials__item">
                                            <svg width="20" height="13" class="icon icon-behance">
                                                <use xlink:href="#icon-behance"></use>
                                            </svg>
                                        </a>
                                <a href="https://linkedin.com" class="ba-socials__item">
                                    <svg width="20" height="18" class="icon icon-linkedin2">
                                        <use xlink:href="#icon-linkedin2"></use>
                                    </svg>
                                </a>
        
                                <a href="https://google.com" class="ba-socials__item">
                                    <svg width="25" height="25" class="icon icon-google">
                                        <use xlink:href="#icon-google"></use>
                                    </svg>
                                </a>
        
                                <a href="https://facebook.com" class="ba-socials__item">
                                    <svg width="10" height="20" class="icon icon-facebook">
                                        <use xlink:href="#icon-facebook"></use>
                                    </svg>
                                </a>
        
                                <a href="https://twitter.com" class="ba-socials__item">
                                    <svg width="18" height="18" class="icon icon-twitter">
                                        <use xlink:href="#icon-twitter"></use>
                                    </svg>
                                </a>
        
                             
        
                            </div>
                </div>
                <div class="ba-team-slider__item column">
                        <div class="ba-top-part">
                                <img src="assets/img/slide3.png" alt="slide">
                            </div>
                            <div class="ba-mid-part">
                                <h4 class="author-name">
                                        Ida Morrison
                                </h4>
                                <p>
                                        Designer
                                </p>
                            </div>
                            <div class="ba-socials">
                                    <a href="https://behance.net" class="ba-socials__item">
                                            <svg width="20" height="13" class="icon icon-behance">
                                                <use xlink:href="#icon-behance"></use>
                                            </svg>
                                        </a>
                                <a href="https://linkedin.com" class="ba-socials__item">
                                    <svg width="20" height="18" class="icon icon-linkedin2">
                                        <use xlink:href="#icon-linkedin2"></use>
                                    </svg>
                                </a>
        
                                <a href="https://google.com" class="ba-socials__item">
                                    <svg width="25" height="25" class="icon icon-google">
                                        <use xlink:href="#icon-google"></use>
                                    </svg>
                                </a>
        
                                <a href="https://facebook.com" class="ba-socials__item">
                                    <svg width="10" height="20" class="icon icon-facebook">
                                        <use xlink:href="#icon-facebook"></use>
                                    </svg>
                                </a>
        
                                <a href="https://twitter.com" class="ba-socials__item">
                                    <svg width="18" height="18" class="icon icon-twitter">
                                        <use xlink:href="#icon-twitter"></use>
                                    </svg>
                                </a>
        
                             
        
                            </div>
                </div>
                <div class="ba-team-slider__item column">
                        <div class="ba-top-part">
                                <img src="assets/img/slide2.png" alt="slide">
                            </div>
                            <div class="ba-mid-part">
                                <h4 class="author-name">
                                        Jackie Carroll
                                </h4>
                                <p>
                                        Art Director
                                </p>
                            </div>
                            <div class="ba-socials">
                                    <a href="https://behance.net" class="ba-socials__item">
                                            <svg width="20" height="13" class="icon icon-behance">
                                                <use xlink:href="#icon-behance"></use>
                                            </svg>
                                        </a>
                                <a href="https://linkedin.com" class="ba-socials__item">
                                    <svg width="20" height="18" class="icon icon-linkedin2">
                                        <use xlink:href="#icon-linkedin2"></use>
                                    </svg>
                                </a>
        
                                <a href="https://google.com" class="ba-socials__item">
                                    <svg width="25" height="25" class="icon icon-google">
                                        <use xlink:href="#icon-google"></use>
                                    </svg>
                                </a>
        
                                <a href="https://facebook.com" class="ba-socials__item">
                                    <svg width="10" height="20" class="icon icon-facebook">
                                        <use xlink:href="#icon-facebook"></use>
                                    </svg>
                                </a>
        
                                <a href="https://twitter.com" class="ba-socials__item">
                                    <svg width="18" height="18" class="icon icon-twitter">
                                        <use xlink:href="#icon-twitter"></use>
                                    </svg>
                                </a>
        
                             
        
                            </div>
                </div>
                <div class="ba-team-slider__item column">
                        <div class="ba-top-part">
                            <img src="assets/img/slide1.png" alt="slide">
                        </div>
                        <div class="ba-mid-part">
                            <h4 class="author-name">
                                Miguel Obrien
                            </h4>
                            <p>
                                CEO & Founder
                            </p>
                        </div>
                        <div class="ba-socials">
                            <div class="ba-socials__item">
                                <svg width="20" height="18" class="icon icon-linkedin2">
                                    <use xlink:href="#icon-linkedin2"></use>
                                </svg>
                            </div>
    
                            <div  class="ba-socials__item">
                                <svg width="25" height="25" class="icon icon-google">
                                    <use xlink:href="#icon-google"></use>
                                </svg>
                            </div>
    
                            <div  class="ba-socials__item">
                                <svg width="10" height="20" class="icon icon-facebook">
                                    <use xlink:href="#icon-facebook"></use>
                                </svg>
                            </div>
    
                            <div  class="ba-socials__item">
                                <svg width="18" height="18" class="icon icon-twitter">
                                    <use xlink:href="#icon-twitter"></use>
                                </svg>
                            </div>
    
                          
    
                        </div>
                    </div>
                <!-- <div class="ba-team-slider__item column">
                    <img src="assets/img/slide.jpg" alt="slide">
                </div> -->
            </div>

        </div>
      
    </div>
</section>