<section id="works" class="ba-works">
    <div class="row column">
    <img src="assets/img/iconwork.png" alt="works">
    <h2 class="ba-works__title">RECENT WORKS</h2>
    <div class="ba-works-slider-wrap">
            <a href="#"  class="ba-works-prev-arrow">
                    <svg  width="23" height="38">
                        <use xlink:href="#arrow-left"/>
                    </svg>
                </a>
                <a href="#" class="ba-works-next-arrow">
                        <svg  width="23" height="38">
                                <use xlink:href="#arrow-right"/>
                            </svg>
                </a>
    <div class="ba-works-slider">
        <div class="ba-works-slider__item">
            <img src="assets/img/slide.jpg" alt="slide">
        </div>
        <div class="ba-works-slider__item">
                <img src="assets/img/slide.jpg" alt="slide">
            </div>
            <div class="ba-works-slider__item">
                    <img src="assets/img/slide.jpg" alt="slide">
                </div>
                <div class="ba-works-slider__item">
                        <img src="assets/img/slide.jpg" alt="slide">
                    </div>
    </div>
   
</div>
<a href="#" class="ba-button ba-button--gallery">
        View Gallery
    </a>
</div>
</section>